.additional {
  margin-bottom: 35px;
}

.additional__title {
  display: inline-flex;
  position: relative;
  .mp-zero;
  padding-top: 29px;
  margin-bottom: 34px;
  margin-right: -20px;
  min-width: 225px;

  .ff-oswald;
  .font(24px;
  24px;
  400;
  @black);
}

.additional__title::after {
  display: inline-flex;
  position: absolute;
  content: "";
  top: 42px;
  left: calc(100% + 12px);

  width: 100vw;
  height: 3px;

  background-color: @green;
}

.additional__list {
  .mp-zero;
  margin-bottom: 39px;
  .ls-none;
}

// Планшет
@media (min-width: @tablet-width) {
  .additional {
    margin-bottom: 76px;
  }

  .additional__title {
    //display: flex;
    //align-items: center;
    text-align: center;

    margin-right: -30px;
    margin-bottom: 80px;
    margin-left: -30px;
    font-size: 36px;
    line-height: 36px;
  } //Зелёные полоски, сделанные без флексов. Отображаются в IE
  .additional__title::before,
  .additional__title::after {
    content: "";
    display: inline-block;
    width: 50%;
    height: 3px;
    position: relative;
    vertical-align: middle;
    background: @green;
  }

  .additional__title::before {
    right: 34px;
    margin-left: -80%;
  }

  .additional__title::after {
    left: 38px;
    margin-right: -41%;
  } //Зелёные полоски, сделанные на флексах. Не отображаются в IE
  //  .additional__title::before {
  //    content: "";
  //
  //    flex-grow: 1;
  //    flex-shrink: 0;
  //
  //    width: 30px;
  //    height: 3px;
  //    margin-top: 10px;
  //    margin-right: 35px;
  //
  //    background: @green;
  //  }
  //
  //  .additional__title::after {
  //    content: "";
  //
  //    flex-grow: 1;
  //    flex-shrink: 0;
  //
  //    width: 327px;
  //    height: 3px;
  //    margin-top: 10px;
  //    margin-left: 34px;
  //
  //    background: @green;
  //  }
  .additional__list {
    box-sizing: border-box;
    margin-bottom: 69px;
    border: 1px solid #d9d9d9;
    border-top: none;
    border-bottom: none;
  }
}

// Десктоп
@media (min-width: @desktop-width) {
  .additional {
    margin-bottom: 86px;
  }

  .additional__title {
    margin-right: -110px;
    margin-left: -110px;
  }

  .additional__title::before {
    width: 70px;
  }

  .additional__title::after {
    flex-grow: 1;
    width: 955px;
  }

  .additional__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    border-left: none;
    border-right: none;
  }

  .additional__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .additional__action {
    width: 245px;
  }
}
