.additional {
  outline: 1px dashed blue;
  margin-bottom: 35px;
}

.additional__wrapper {}

.additional__title {
  .mp-zero;
  padding-top: 28px;
  padding-bottom: 28px;
  .ff-oswald;
  .font(24px;
  24px;
  400;
  @black);
}

.additional__list {
  .mp-zero;
  margin-bottom: 39px;
  .ls-none;
}

.additional__item {}
