.advantages {
  background-color: bisque;
}

.advantages__title {
  .mp-zero;
  .ff-oswald;
  .font(36px;
  60px;
  400;
  @black);
  margin-bottom: 23px;
}

.advantages__list {
  .mp-zero;
  .ls-none;
  margin-bottom: 42px;
}

.advantages__item {
  padding-left: 80px;
  margin-bottom: 20px;
}

.advantages__item:last-child {
  margin-bottom: 0;
}
