.aim {
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ededed; //  background-color: antiquewhite;
}

.aim__list {
  .mp-zero;
  padding-left: 46px;
  .ls-none;
}

.aim__option {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

// Планшет
@media (min-width: @tablet-width) {
  .aim {
    margin-left: 0;
    margin-right: 0;
  }
}
