.button {
  display: block;

  .ff-oswald;
  .t-upper;
  text-align: center;
  vertical-align: middle;

  cursor: pointer;
}

.button--green {
  background-color: @green;
  color: @white;
  padding: 12px 0;
}
