.catalog__list {
  .mp-zero;
  .ls-none;
}

// Планшет
@media (min-width: @tablet-width) {
  .catalog {
    width: auto;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;
    background-color: @light-gray;
  }

  .catalog__button {
    width: 249px;
    margin: 0 auto;
  }
}

// Десктоп
@media (min-width: @desktop-width) {
  .catalog {
    width: auto;
  }
}
