.comment__title {
  display: flex;
  align-items: center; //width: 142px;
  .mp-zero;
  padding-top: 30px;
  padding-bottom: 35px;
  margin-right: -20px;

  .ff-oswald;
  .font(24px;
  24px;
  400;
  @black);
}

.comment__title::after {
  content: "";

  flex-grow: 1;
  flex-shrink: 0;

  width: 50px;
  height: 3px;
  margin-left: 24px;

  background: @green;
}

.comment__field {
  display: block;
  box-sizing: border-box;
  height: 150px;
  padding: 11px 10px 15px 15px;

  .ff-oswald;
  .t-upper;
  .font(16px;
  18px;
  400;
  @dark-gray);
}

.comment__field:focus {
  padding-top: 10px;
  padding-left: 14px;
}

//Планшет
@media (min-width: @tablet-width) {
  .comment {
    margin-bottom: 37px;
  }

  .comment__title {
    margin-right: -67px;
    margin-bottom: 41px;
    margin-left: -70px;
    padding-top: 65px;

    font-size: 36px;
    line-height: 36px;
  }

  .comment__title::after {
    margin-top: 10px;
    margin-left: 42px;
    flex-grow: 30;
  }

  .comment__title::before {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;

    width: 15px;
    height: 3px;
    margin-top: 10px;
    margin-right: 40px;

    background: @green;
  }

  .comment__field {
    height: 174px;
    padding: 10px 10px 15px 17px;

    font-size: 20px;
    line-height: 30px;

    &:focus {
      padding-top: 9px;
      padding-left: 16px;
    }
  }
}
