.contacts {
  display: flex;
  justify-content: space-between;
  padding: 28px 20px 26px 19px;
  background-color: @white;
  outline: 1px dotted blue;
}

.contacts__invite {
  box-sizing: border-box;
  width: 140px;
  .mp-zero;

  .ff-oswald;
  .font(16px;
  20px;
  400px;
  @black);
  .t-upper;
}

.contacts__address {
  box-sizing: border-box;
  width: 140px;
  .mp-zero;
  line-height: 20px;
}

.contacts__address-street {
  display: block;
  .mp-zero;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contacts__invite {
    width: 200px;
    padding-left: 42px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    padding-right: 42px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    padding-top: 70px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
    z-index: 5;
  }

  .contacts__invite {
    width: 245px;
    padding-left: 77px;
  }

  .contacts__address {
    width: 245px;
    padding-right: 90px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
}
