.extra {
  margin-bottom: 42px;
}

.extra__title {
  display: flex;
  align-items: center; //width: 165px;
  .mp-zero;
  padding-top: 28px;
  margin-bottom: 40px;
  margin-right: -20px;

  .ff-oswald;
  .font(24px;
  24px;
  400;
  @black);
}

.extra__title::after {
  content: "";

  flex-grow: 1;
  flex-shrink: 0;

  width: 50px;
  height: 3px;
  margin-left: 24px;

  background: @green;
}

.extra__list {
  .mp-zero;
  .ls-none;
}

.extra__option {
  padding-left: 45px;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.extra__option .form__label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

//Планшет
@media (min-width: @tablet-width) {
  .extra {
    margin-bottom: 12px;
  }

  .extra__title {
    margin-right: -67px;
    margin-bottom: 67px;
    margin-left: -70px;

    font-size: 36px;
    line-height: 36px;
  }

  .extra__title::after {
    margin-left: 42px;
    flex-grow: 30;
  }

  .extra__title::before {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;

    width: 17px;
    height: 3px;
    margin-top: 10px;
    margin-right: 39px;

    background: @green;
  }

  .extra__title::after {
    margin-top: 10px;
  }

  .extra__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    outline: 1px dashed gray;
  }

  .extra__option {
    width: 210px;
    margin-right: 74px;
    margin-bottom: 52px;
    padding-left: 59px;
    outline: 1px dashed orange;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
