.extra {
  margin-bottom: 34px;
}

.extra__title {
  width: 165px;
  .mp-zero;
  padding-top: 30px;
  padding-bottom: 30px;

  .ff-oswald;
  .font(24px;
  24px;
  400;
  @black);
}

.extra__list {
  .mp-zero;
  .ls-none;
}

.extra__option {
  padding-left: 45px;
  margin-bottom: 25px; //outline: 1px dashed gray;
  &:last-child {
    margin-bottom: 0;
  }
}

.extra__option .form__label {
  position: relative;
  display: block;

  cursor: pointer;
  user-select: none;
}
