.link-button {
  display: flex;
  align-items: center;
  margin-left: -1px;
  .ff-oswald;
  .font(16px;
  16px;
  400;
  @black);
  .t-upper;
  .no-decor;
}

.link-button:hover {
  svg {
    width: 33px;
  }
}

.link-button:active {
  opacity: 0.3;
}

.link-button__icon {
  margin-left: 12px;

  fill: #3e4242;
}

@media (min-width: @tablet-width) {
  .link-button {
    font-size: 20px;
    line-height: 20px;
  }

  .link-button__icon {
    margin-left: 24px;
  }
}

@media (min-width: @desktop-width) {
  .link-button {
    font-size: 20px;
    line-height: 20px;
  }
}
