.location {
  margin: 0 auto;
  background-color: @light-gray;
}

.location__map {
  position: relative;
  display: flex;
  justify-content: center;
  .mp-zero;
  height: 362px;
  overflow: hidden;
  background-color: @light-gray;
}

.location__map::before {
  position: absolute;
  content: "";

  top: 0;
  left: 0;

  width: 124px;
  height: 106px;

  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  z-index: 5;
}

.location__static-map {
  width: 100%;
}

//Планшет
@media (min-width: @tablet-width) {
  .location {
    background-color: @white;
  }

  .location__map {
    height: 396px;
  }
}

//Десктоп
@media (min-width: @desktop-width) {
  .location__wrapper {
    position: relative;
  }

  .location__map {
    height: 400px;
  }

  .location__static-map {
    width: 1440px;
    height: 400px;
  }
}
