.main-nav {
  position: relative;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  top: -47px;
  right: 20px;
  width: 26px;
  height: 26px;
  background-color: greenyellow;
  z-index: 12;
  border: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    width: auto;
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
