.more-items {
  .center;
  padding-top: 82px;
  padding-bottom: 24px;
}

.more-items__show {
  .mp-zero;
  margin-bottom: 10px;
  .ff-oswald;
  .t-upper;
  .font(16px;
  20px;
  400;
  @black);
}

.more-items__text {
  .mp-zero;
  margin-bottom: 20px;
  .font(12px;
  16px;
  400;
  @dark-gray);
}

.more-items__button {}
