.offer {
  padding-top: 190px;
  padding-bottom: 45px;

  background-color: @green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.offer__slogan {
  width: 160px;
  .mp-zero;
  margin: 0 auto;
  .center;
  line-height: 20px;
  color: @white;
}
