.offer {
  background-color: @green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.offer__slogan {}
