.owner-data {
  padding-left: 20px;
  padding-right: 20px;
}

.owner-data__title {
  width: 200px;
  .mp-zero;
  .ff-oswald;
  .font(24px;
  24px;
  400;
  @black);
}

.owner-data__list {
  .mp-zero;
  .ls-none;
}

.owner-data__field {}
