.page-header {
  width: 320px;
  margin: 0 auto;
  outline: 1px solid red;
}

.page-header__logo {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 16px;
}

.page-header__logo-image {
  width: 191px;
  height: 38px;
}
