.page {
  min-width: 320px;
  .mp-zero;
  background-color: @white;

  font-family: "Arial", sans-serif;
  .font(14px;
  18px;
  400;
  @dark-gray);

  outline: 1px solid #000000;
}

.img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"), local("Oswald-Regular");
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"), local("Oswald-Medium");
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

// временно
* {
  outline: 1px solid green;
}
