.page-main__header {
  .mp-zero;
  padding-top: 19px;
  padding-right: 20px;
  padding-bottom: 29px;
  padding-left: 20px;
  .ff-oswald;
  .font(36px;
  60px;
  400;
  @black);
  outline: 1px dotted red;
}
