.page-main__header {
  box-sizing: border-box;
  width: 320px;
  .mp-zero;
  margin: 0 auto;
  padding-top: 19px;
  padding-right: 20px;
  padding-bottom: 29px;
  padding-left: 20px;
  .ff-oswald;
  .font(36px;
  60px;
  400;
  @black);
}

// Планшет
@media (min-width: @tablet-width) {
  .page-main__header {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

// Десктоп
@media (min-width: @desktop-width) {
  .page-main__header {
    width: auto;
    padding-left: 110px;
    padding-right: 110px;
  }
}
