.page {
  min-width: 320px;
  background-color: @white;
  .mp-zero;

  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @dark-gray;
  text-transform: uppercase;
}
