.page-footer {
  background-color: @light-gray;
  outline: 1px solid red;
}

.page-footer__logo-wrapper {
  padding: 38px 0 31px 0;
  display: flex;
  justify-content: center;
}

.page-footer__logo-picture {
  width: 128px;
  height: 24px;
}
