.page {
  min-width: 320px;
  .mp-zero;
  background-color: @white;

  font-family: "Arial", sans-serif;
  .font(14px;
  18px;
  400;
  @dark-gray);

  outline: 1px solid #000000;
}

.img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//Десктоп
@media (min-width: @desktop-width) {
  .page--index-page {
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(@green 305px, transparent 305px);
    background-repeat: no-repeat;
    background-size: 651px 697px;
    background-position: right top;
    z-index: -1;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .page--index-page .site-list__item.site-list__item--active {
    border-bottom: 2px solid @white;
  }
}

input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

// временно
//* {
//  outline: 1px solid green;
//}
