.programs {
  width: 320px;
  background-color: wheat;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.programs__header {
  padding-top: 27px;
  margin-bottom: 22px;
}

.programs__item {
  background-color: @light-gray;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .programs {
    width: auto;
    background: none;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    width: auto;
  }
}
