.promo__title {
  .mp-zero;
  margin-bottom: 18px;
  .center;

  .ff-oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  color: @white;
}

.promo__slogan {
  .mp-zero;
  margin-bottom: 30px;
  .center;

  .ff-oswald;
  line-height: 14px;
  color: @white;
}
