.promo__title {
  .center;
  .ff-oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  color: @white;
}

.promo__slogan {
  .center;
  .ff-oswald;
  line-height: 14px;
  color: @white;
}
