.questionary {
  width: 320px;
  margin: 0 auto;
  outline: 1px dotted lightgreen;
}

.questionary__text {
  width: 227px;
  .mp-zero;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 16px;
  .ff-oswald;
  .t-upper;
  color: @black;
}

.questionary__group {
  .mp-zero;
}

.questionary__button-wrapper {
  .mp-zero;
  .center;
  padding-left: 20px;
  padding-right: 20px;
}

.questionary__button {
  width: 280px;
  .font(16px;
  20px;
  400;
  @white);
}

// Планшет
@media (min-width: @tablet-width) {
  .questionary {
    width: auto;
  }
}

// Десктоп
@media (min-width: @desktop-width) {
  .questionary {
    width: auto;
  }
}
