.sample {
  background-color: @light-gray;
  padding-bottom: 38px;
}

.sample__title {
  .mp-zero;
  .ff-oswald;
  .font(36px;
  60px;
  400;
  @black);
}

.sample__description {
  padding-right: 13px;
}

.sample__stats {
  margin-bottom: 44px;
}

@media (min-width: @tablet-width) {
  .sample {
    background-image: linear-gradient(to bottom, @white 618px, @light-gray 618px);
  }

  .sample__title {
    font-size: 60px;
    margin-bottom: 60px;
  }

  .sample__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
  }
}
