.site-list {
  .ls-none;
  .mp-zero;
  .center;

  .ff-oswald;
  .font(20px;
  20px;
  500;
  @black);
  .t-upper;

  border-bottom: 1px solid @line-color;
  background-color: yellow;
}

.site-list__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: @black;
  border-top: 1px solid @line-color;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 516px;
  }

  .site-list__link {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 570px;
  }

  .site-list__link {
    border: none;
  }
}
