.slider {
  display: flex;
  flex-direction: column;
}

.slider__list {
  .ls-none;
  .mp-zero;
  margin: auto;
  margin-bottom: 36px;
  overflow: hidden;
}

.slider__item {
  //чтобы убрать отступ под изображением
  display: flex;
}

.slider__item--not-active {
  display: none;
}

.slider__range {
  display: flex;
  justify-content: space-between;
  width: 197px;
  margin: 0 auto;
  outline: 1px solid orange;
}

.slider__button {
  background-color: transparent;
  .ff-oswald;
  .t-upper;
  .font(16px;
  20px;
  400;
  @black);
}

.slider__button:hover,
.slider__button:focus {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(17, 17, 17, 0.4);
}

.slider__button:active {
  border-bottom: none;
}

@media (min-width: @tablet-width) {
  .slider__button {
    font-size: 20px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #bebebe;
  }
}
