.slim-program__title {
  .mp-zero;
  padding-left: 70px;

  .ff-oswald;
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  color: @black;
  .t-upper;
}

.slim-program__description {
  width: 225px;
  .mp-zero;
}
