.social__list {
  display: flex;
  justify-content: center;
  width: 280px;
  .mp-zero;
  padding: 19px 0 18px 0;
  .ls-none;
  border-top: 1px solid @line-color;
  border-bottom: 1px solid @line-color;
}

.social__item {
  margin-right: 25px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 25px;
  height: 25px;
}

.social__link--vkontakte {
  background-image: url('../img/icon-vk-mobile.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link--instagram {
  background-image: url('../img/icon-insta-mobile.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link--facebook {
  background-image: url('../img/icon-fb-mobile.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
