.social__list {
  display: flex;
  justify-content: flex-start;
  width: 280px;
  .mp-zero;
  padding: 23px 0 21px 73px;
  .ls-none;
  border-top: 1px solid @line-color;
  border-bottom: 1px solid @line-color;
}

.social__item {
  margin-right: 38px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 19px;
  .no-decor;
}

.social__link--vkontakte,
.social__link--instagram,
.social__link--facebook {
  fill: #666666;
}

.social__link--vkontakte:nth-child(2),
.social__link--instagram:nth-child(2),
.social__link--facebook:nth-child(2) {
  display: none;
}

.social__link--vkontakte:hover,
.social__link--vkontakte:focus,
.social__link--instagram:hover,
.social__link--instagram:focus,
.social__link--facebook:hover,
.social__link--facebook:focus {
  fill: @green;
}

.social__link--vkontakte:active,
.social__link--instagram:active,
.social__link--facebook:active {
  opacity: 0.3;
}

//Планшет
@media (min-width: @tablet-width) {
  .social {
    display: flex;
    justify-content: center;
  }

  .social__list {
    justify-content: flex-start;
    padding: 0;
    padding-left: 93px;
    border: none;
  }

  .social__item {
    margin-right: 28px;
  }

  .social__link {
    height: 28px;
  }

  .social__link--vkontakte:first-child,
  .social__link--instagram:first-child,
  .social__link--facebook:first-child {
    display: none;
  }

  .social__link--vkontakte:nth-child(2),
  .social__link--instagram:nth-child(2),
  .social__link--facebook:nth-child(2) {
    display: block;
  }
}

//Десктоп
@media (min-width: @desktop-width) {
  .social__link--facebook {
    left: 5px;
  }
}
